init-author-name=Tomas Castro
init-author-email=tomas.caslo90@gmail.com
init-version=0.0.1
init-license=MIT
//registry.npmjs.org/:_authToken=cb7232ea-10d5-435d-a557-d373e4c2e675
username=tomascaslo
email=tomas.caslo90@gmail.com
